@charset "utf-8";
/* CSS 豆瓣首页 */
*{
	margin: 0px;
	padding: 0px;
	font-family: Helvetica,​Arial,​sans-serif;
	font-size: 12px;
}
img{
	border: none; 
}
*::-moz-placeholder {
    color: #ccc;
}
/*出现过的问题
1、background：url() no-repeat  这中间的空格ie6不认
2、input定义line-height充不起来必须加height 
3、margin—left加在父级元素被误解析到子元素上
4、img外面加a标签会为图片添加外边框，在全局选择器里去除图片边*/
/*头部开始*/
#top{
	width: 950px;
	height: 59px;
	padding-top: 30px;
	margin: 0 auto;
}
	#top h1{
		width: 154px;
		height: 30px;
		margin: auto 0;
		background: url(../images/logo_db.png);
		float: left;
		/*background: blue;*/
	}
	#top .search{
		width: 272px;
		height: 30px;
		border:1px solid #c3c3c3; 
		float: left;
		margin-left: 27px;
		background: blue;
	}
		#top .search .input{
			display: block;
			width: 234px;
			/*font: 12px;*/
			line-height: 30px;
			border: none;
			/*margin-left: 6px;*/
			float: left;
			 background: red;
			 height: 30px;
		}
		#top .search .submit{
			display: block;
			width: 30px;
			height: 30px;
			float: left;
			background: url(../images/bn_srh_1.png) no-repeat 8px 8px;
			border: none;
			text-indent:-999px;
		}
	#top .menu{
		float: right;
		width: 474px;
		height: 26px;
		margin-top: 5px;
		background: url(../images/top_menu.png) no-repeat 14px 0;
	}
		#top .menu a{
			font-size: 23px;
			height: 20px;
			float: left;
			margin-left: 14px;
			/*text-indent:-999px;*/
		}
/*头部结束*/
/*登陆logo开始*/
#login{
	width: 100%;
	height: 89px;
	background: #e8edf1;
	position: relative;
}
	#login .login_left{
		width: 950px;
		height: 37px;
		margin: 0 auto;
		padding-top: 20px;
	}
		#login .login_left a{
			display: inline-block;
			color: #fff;
			font-size: 14px;
			line-height: 37px;
			text-decoration: none;
			width: 120px;
			height: 37px;
			background:  #ef7360;
			text-indent: 18px;
			display: block;
			float: left;
		}
					#login .login_left a span{
						font-size: 12px;
					}
		#login .login_left span.find{
			font-size: 16px;
			display: block;
			float: left;
			padding-left: 19px;
			margin-top: 13px;
			color: #666;
		}
	#login .login_right{
		position: absolute;
		right: 201px;
		float: right;
		width: 408px;
		height: 59px;
		/*border: 1px solid red;*/
		top: 20px;
	}
		#login .login_right .email,.password{
			display: block;
			width: 158px;
			height: 34px;
			float: left;
			font-size: 12px;
			margin-right: 4px;
			border: none;
			text-indent: 10px;
		}
		#login .login_right .remeber,.forget{
			display: block;
			width: 158px;
			height: 20px;
			float: left;
			line-height: 20px;
			margin-top: 5px;
		}
		#login .login_right .forget{
			text-indent: 6px;
			color: #0078AD;
			text-decoration: none;
		}
		#login .login_right .submit{
			background: #00A54D;
			width: 80px;
			height: 33px;
			border: none;
			float: left;
			color: #fff;
		}
/*登陆logo结束*/
#ad{
	width: 950px;
	height: 90px;
	margin: 25px auto 0px;
}
/*热门开始*/
#hot{
	width: 950px;
	height: 510px;
	/*border: 1px solid red;*/
	margin: 16px auto 0px;
}
	#hot .hot_title{
		width: 200px;
		font-size: 14px;
		color: #007722;
		line-height: 23px;
	}
	/*图片展览*/
	#hot .hot_albums{
		width: 350px;
		height: 488px;
		/*border-bottom: 1px solid red;*/
		float: left;
		line-height: 20px;
		color: #999;
		margin-top: 12px;
	}
		#hot .hot_albums a{
			color: #3377AA;
			text-decoration: none;
		}
		#hot .hot_albums a:hover{
			color: #fff;
			background: #3377AA;
		}
		#hot .hot_albums .img1{
			display: block;
			float: left;
			margin-right: 10px;
			margin-bottom: 14px;
			background: #999;
		}
		#hot .hot_albums .img1 img{
			display: block;
			clear: right;
		}
		#hot .hot_albums .img2{
			display: block;
			float: left;
			margin-bottom: 14px;
		}
		#hot .hot_albums .img2 img{
			display: block;
			clear: right;
		}
		#hot .hot_albums .img3{
			display: block;
			float: left;
			margin-right: 10px;
		}
		#hot .hot_albums .img3 img{
			display: block;
			clear: right;
		}
		#hot .hot_albums .img4{
			display: block;
			float: left;
		}
		#hot .hot_albums .img4 img{
			display: block;
			clear: right;
		}
		/*热门列表1*/
	#hot .hot_list1{
		width: 275px;
		height: 429px;
		/*border-bottom: 1px solid red;*/
		float: left;
		margin-left: 29px;
	}
		#hot .hot_list1 li{
			margin-top: 9px;
			list-style: none;
		}
			#hot .hot_list1 .author{
				color: #999;
			}
			#hot .hot_list1 p{
				color: #666;
			}
			#hot .hot_list1 .title a{
				color: #3377AA;
				text-decoration: none;
				line-height: 20px;
			}
			#hot .hot_list1 .title a:hover{
				color: #fff;
				background: #3377AA;
			}
		/*热门列表2*/
		#hot .hot_list2{
			width: 265px;
			height: 435px;
			/*border-bottom: 1px solid red;*/
			float: left;
			margin-left: 31px;
		}
			#hot .hot_list2 img{
				width: 265px;
				height: 110px;
			}
		#hot .hot_list2 li{
			margin-top: 9px;
			list-style: none;
		}
			#hot .hot_list2 .author{
				color: #999;
			}
			#hot .hot_list2 p{
				color: #666;
			}
			#hot .hot_list2 .title a{
				color: #3377AA;
				text-decoration: none;
				line-height: 20px;
			}
			#hot .hot_list2 .title a:hover{
				color: #fff;
				background: #3377AA;
			}
/*热门结束*/
/*东西开始*/
#thing-out{
	width: 100%;
	height: 828px;
	background: #F7F7F7;
}
#thing{
	width: 950px;
	height: 828px;
	margin:0 auto;
	padding-top: 40px;
}

/*东西menu开始*/
	#thing .thing_menu{
		width: 100px;
		height: 350px;
		/*border-bottom: 2px solid blue;*/
		margin-right: 20px;
		float: left;
	}
					#thing .thing_menu a:hover{
						color: #7F4B2F;
					}
		
		#thing .thing_menu h2 a{
			font-size: 24px;
			color: #7F4B2F;
			line-height: 40px;
			text-decoration: none;
			font-weight: 400;
		}
		#thing .thing_menu li a{
			font-size: 14px;
			color: #A16B4E;
			line-height: 28px;
			text-decoration: none;
		}
		#thing .thing_menu li{
			list-style: none;
			line-height: 28px;			
		}
		#thing .thing_menu .weibo{
			margin-top: 15px;
		}
			#thing .thing_menu .weibo a{
			color: #A16B4E;
			text-decoration: none;
			}

/*东西list1开始*/
	#thing .thing_list1{
		width: 550px;
		height: 625px;
		border-bottom: 2px solid blue;
		float: left;
	}
					#thing .thing_list1 a{
						color: #A16B4E;
						text-decoration: none;
					}
					#thing .thing_list1 a:hover{
						color: #7F4B2F;
					}



		#thing .thing_list1_top .thing_list1_top1{
			position: relative;
			width: 245px;
			height: 245px;
			/*border: 1px solid blue;*/
		}
			#thing .thing_list1_top .thing_list1_top1 img{
				width: 245px;
			}
			#thing .thing_list1_top .thing_list1_top1 .a1{
				width: 245px;
				height: 40px;
				border-bottom:1px dashed #DBDBDB;
				position: absolute;
				left: 0px;
				top: 189px;
				background: #F4F4F4; 
				font-size: 14px;
				line-height: 40px;
				text-indent: 8px;
			}
			#thing .thing_list1_top .thing_list1_top1 .a2{
				width: 245px;
				height: 40px;
				position: absolute;
				left: 0px;
				top: 230px;
				background: #F4F4F4; 
				font-size: 12px;
				line-height: 40px;
				color: #6a6a6a;
				text-indent: 8px;
			}














	#thing .thing_list2{
		width: 265px;
		height: 653px;
		border-bottom: 2px solid blue;
		float: left;
		margin-left: 15px;
	}
#ad
#movie
#book
#music
#ad
#group
#city
#ad
#footer