*{
	margin:0;
	padding: 0;
}
body, button, input, select, textarea {
    font: 12px/1.5 tahoma,arial,"宋体";
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
body{
	background: #f5f5f5;
}
#top-out{
	width: 100%;
	height: 26px; 
	background: #f2f2f2;
	border-bottom: 1px solid #e5e5e5;
}
.top{
	margin: 0 auto;
	width: 1190px;
	height: 26px;
}
	.top p{
		width: 300px;
		height: 26px;
		color: #999;
		font-size: 12px;
		font-family: tahoma,​arial,​"宋体";
		line-height: 26px;
		float: left;
	}
		.top p a{
			color: #999;
			font-size: 12px;
			font-family: tahoma,​arial,​"宋体";
			line-height: 26px;
			padding-left: 20px;
		}
		.top p a:hover{
			color: #c40;
			text-decoration: underline;
		}
	.top ul{
		float: right;
		height: 16px;	
	}
		.top ul li{
			float: left;
		}
		 .top ul li a{
		 	display: block;
			color: #999;
			line-height: 26px;
			padding-left: 10px;
			padding-right: 14px;
			border-width: 0 1px;
			border-color: #f2f2f2;
			border-style: solid;
		 }
			.top ul li a:hover{
				color: #c40;
				text-decoration: underline;
			}
			.top ul li a span{
				display: block;
				width: 12px;
				height: 13px;
			}
			.top ul li a span.span3{
				display: block;
				width: 16px;
				height: 13px;
			}
#header-out{
	width: 100%;
	height: 142px;
	background: #fff;
}
#header{
	padding-top: 4px;
	margin: 0 auto;
	width: 1190px;
	height: 142px;
	background: #999;
}
#header .headerCon{
	width: 1190px;
	height: 85px;
	padding-bottom: 23px;
	background: pink;
}
#header .nav{
	width: 1190px;
	height: 34px;
	background: #777;
}
#main-menu-out{
	width: 100%;
	height: 480px;
	background: #AE81FF;
}
#main-menu{
	width: 1190px;
	height: 480px;
	margin: 0 auto;
	background: #F92672;
}

#hot{
	width: 1190px;
	height: 354px;
	margin: 0 auto;
	padding-top: 35px;
	background: #e23;
}
#trends-out{
	width: 100%;
	height: 363px;
	padding-top: 20px;
	background: #F5F5F5 url(../images/trends-bg.jpg) repeat-x;
}
#trends{
	width: 1190px;
	height: 363px;
	margin: 0 auto;
	background: #a55553;
	margin-bottom: 30px;
}
#wrapper{
	width: 1190px;
	margin: 0 auto;

}
#ad1,
#ad2,
#ad3,
#ad4,
#ad5{
	width: 1190px;
	height: 90px;
	background: yellow;
	margin-bottom: 35px;
}
#lay1f,
#lay2f,
#lay3f,
#lay4f,
#lay5f,
#lay6f,
#lay7f,
#lay8f,
#lay9f,
#lay10f,
#lay11f,
#lay12f{
	width: 1190px;
	height: 422px;
	margin-bottom: 30px;
	background: #4FA0F4;
}
#footer{
	width: 100%;
	height: 582px;
	margin-top: 25px;
	background: #fff;
}
#serve{
	width: 1190px;
	height: 393px;
	margin: 0 auto;
	background: #999;
}

#tmall-info{
	width: 100%;
	height: 242px;
	background: #000;
	border-top: 2px solid #C40000;
}

#tmall-info .info{
	margin: 0 auto;
	width: 1190px;
	height: 242px;
	background: #555;
}






